{% block sw_cms_element_instagram %}
    <div class="sw-cms-el-instagram">
        <ul class="sns-cms-el-instagram-skeleton">
            <li><img src="instagram.svg" /></li>
            <li><img src="instagram.svg" /></li>
            <li><img src="instagram.svg" /></li>
            <li><img src="instagram.svg" /></li>
        </ul>
    </div>
{% endblock %}
