.sw-cms-el-instagram {
    width: 100%;
    height: 100%;
    .sns-cms-el-instagram-skeleton {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        > li {
            width: 100%;
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            background: #f2f2f2;
            img {
                max-width: 50%;
            }
        }
    }
}
